@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,100;0,400;0,500;0,900;1,400&display=swap');


/* home */

.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #070606;
    position: fixed;

}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #1f1e1f;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 70px;
    height: auto;

}

.logo h3 {
    color: white;
    font-size: 1.9rem;
    font-family: 'Poppins', sans-serif;

}

.logo img {
    width: 100%;
    height: 100%;
}

.content .list-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;

}

.content .list-menu li a {
    padding: 3rem 1rem 2rem 1rem;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: all 120ms ease-in;
}

.content .list-menu li a:hover {
    background-color: #3333;
    border-bottom: 4px solid #ffc506;
    color: #ffc506;
}

.first-section {
    height: 100vh;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(images/fundo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first-section .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section h1 {
    color: #ffc506;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
}

.first-section h2 {
    color: rgb(177, 177, 177);
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

/* sobre nos */
.sobre-nos {
    background-color: #1f1e1f;
    width: 100vw;
    padding-bottom: 8rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sobre-nos img {
    width: 300px;
    height: 300px;
    margin-top: 20rem;
    margin-left: 10rem;
    border: 2px solid white;
}

.main {
    display: flex;
    justify-content: space-between;
}

.content-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-sobre h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    color: #ffc506;
    text-transform: uppercase;
}

.content-sobre p {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    width: 600px;
    color: white;
}

/*produtos*/

.produtos {
    background-color: #3f3d3f;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.produtos h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    color: #ffc506;
}

.itens-empresa {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.itens-empresa .info {
    background-color: rgb(221, 221, 221);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.itens-empresa .info h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.itens-empresa .info h4 {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 150px;
    margin-left: 6rem;
}

.itens-empresa .info h4 span {
    font-size: 1.6rem;
    color: #18a318;
    text-decoration: underline;
    margin-left: 1.5rem;
}

.itens-empresa div {
    background-color: #554b4b;
    box-shadow: 0px 0px 4px 1px;
}

.itens-empresa img {
    width: 100%;
    height: 250px;

}

.itens-empresa .contato {
    width: 200px;
    height: 35px;
    margin-top: 0.5rem;
    background-color: #ffc506;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    transition: all 200ms ease-in;
}

.itens-empresa .contato:hover {
    background-color: #5e5252;
    color: white;
}

/*contatos*/

.contatos {
    width: 100%;
    background-color: #1f1e1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: white;
    padding-bottom: 4rem;
}

.contatos h3 {
    font-size: 6rem;
    margin-bottom: 3rem;
    font-family: 'Oswald', sans-serif;
}

.contatos-section {
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.contatos-section i {
    margin-right: 1rem;
}

.contatos-section div {
    cursor: pointer;
}

.contatos-section div:hover {
    color: #ffc506;
}

.contatos-section span {
    font-family: 'Oswald', sans-serif;
}

footer {
    height: 25px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .main {
        display: block;
    }

    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12%;
        padding-left: 0px;
    }

    .sobre-nos img {
        width: 600px;
        margin-left: 2px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 45%;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;
    }

    .content .list-menu {
        display: none;
    }

    .one,
    .two,
    .three {
        width: 80%;
        height: 2px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
    }

    .menu-toggle {
        width: 30px;
        height: 30px;
    }

    .content.on {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vw;
        background-color: rgba(30, 31, 30, 0.8);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content.on .logo {
        display: none;
    }

    .content.on .menu-toggle {
        position: absolute;
        right: 40px;
        top: 20px;
    }

    .content.on .list-menu {
        display: block;
    }

    .content.on .list-menu li {
        display: flex;
        justify-content: center;
    }

    .content.on .list-menu li a {
        font-size: 2rem;

    }

    .content.on .menu-toggle .two {
        opacity: 0;
    }

    .content.on .menu-toggle .one {
        transform: rotate(45deg) translate(5px -8px);
    }

    .content.on .menu-toggle .three {
        transform: rotate(-45deg) translate(20px -6px);
    }

    .itens-empresa {
        grid-template-columns: repeat(2, minmax(50px, 350px));
    }

    .itens-empresa .info h4 {
        margin-left: 12rem;
    }

    .contatos-section {
        display: block;
        text-align: center;
        font-size: 2rem;
    }

    .contatos-section div {
        margin: 1rem;
    }
}

@media (max-width: 600px){
    .conteudo-principal h1{
        width: 500px;
        text-align: center;
        font-size: 4rem;
    }
    .conteudo-principal h2{
        font-size: 2rem;
    }
    .itens-empresa{
        grid-template-columns: repeat(auto-fit), minmax(50px,350px);
    }
    .sobre-nos img{
        width: 400px;
        height: 250px;
        margin-left: 10px;
    }
    .sobre-nos p {
        text-align: center;
        width: 400px;
    }
    .contatos-section{
        width: 300px;
    }
}
@media (max-width: 500px){
    .conteudo-principal h1{
        width: 350px;
        font-size: 3rem;
        text-align: center;
    }
    .conteudo-principal h2{
        width: 200px;
        font-size: 2rem;
        text-align: center;
    }
}
@media (max-width: 395px){
    .sobre-nos img{
        width: 250px;
        height: auto;
        margin-left: 10px;
    }
    .content-sobre p {
        text-align: center;
        width: 250px;
    }
    .itens-empresa {
        width: 50%;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(50px,350px));
    }
    .itens-empresa img{
        width: 80%;
        height: auto;
    }
    .itens-empresa div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .itens-empresa .info{
        width: 100%;
        height: 150px;
    }
    .itens-empresa .info h4{
        grid-template-columns: 93px 153px;
    }
    .itens-empresa .info .contato{
        width: 100%;
        font-size: 1.5rem;
    }
    
}